body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #454652;
}

a:hover {
  text-decoration: none;
}

h2, h3 {
  color: #000000;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
  color: dodgerblue
}

.movie-star {
  font-weight: 700;
  font-family: Tahoma;
  color: dodgerblue;
}

.movie-metascore {
  color: #000000;
  font-weight: 550;
  font-family: 'Times New Roman';
}

.movie-metascore strong {
  color: dodgerblue;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.movie-warning {
  color: red;
  text-align: center;
}

.update-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}
